.card {
    width:19.5rem;
    display:flex;
    margin-bottom: 23px;
}


.cardText {
    display:flex;
    flex-direction:row;
    /* flex-wrap: wrap; */
    text-align:justify;
}

.columna2{
    margin-left:30px;
}

.linkToDetail{
    color:black;
    text-decoration: none;
    transition:1s;
}
.linkToDetail:hover{
    transition: 1s;
    color:rgb(109, 109, 109);
}