.row01{
    padding: 60px;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;

}
.spec {
    text-transform:capitalize;
    color:red;
    margin:0 auto;
}